.price {
  flex: 0 0 auto;
  text-align: right;
  white-space: nowrap;

  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0%;
  color: var(--primary-color);
}
